
{{#paper-toolbar}}
  {{#paper-toolbar-tools class="layout layout-align-center"}}
    <h1>{{statusMessage}}</h1>
    {{#paper-button accent=true raised=true onClick=onClickAction}}{{actionText}}{{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}