<table class="board">
  <tbody>
    {{#each board as |row rIndex|}}
      <tr class="row">
        {{#each row as |cell cIndex|}}
          <td class="cell" onclick={{action "onClickBoard" rIndex cIndex}}>
            {{cell}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>