<table>
  <tbody>
    {{#each board as |row|}}
      <tr class="row">
        {{#each row as |cell|}}
          <td class="cell">
            X
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>